.site-footer {
    background: #222;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-about,
.footer-links,
.footer-contact {
    width: 250px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 8px 0;
}

.footer-links a {
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #fff;
}

.social-icons a {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 14px;
    color: #ccc;
}
